<footer>
  <div class="container footer">
    <div class="footerDiv">
      <p>Desenvolvido por: Ramon Moraes</p>
      <p>contato : developer.moraes@gmail.com</p>
    </div>

    <div class="footerDiv">
      <h1>Menu</h1>
      <%include ./nav%>
    </div>

    </div>
</footer>

</body>
</html>
