<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, inicial-scale=1.0" =>
  <meta name="theme-color" content="#555">
  <link rel='stylesheet' href='/stylesheets/onetorulethemall.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <script src='/javascripts/script.js'> </script>
</head>
<body>
