<%include ../partials/head%>

<nav class='nav-top-ui azul-2 '>
  <div class="logo">

  </div>
<div class="btn-wrapper">
  <%include ../partials/nav%>
</div>
</nav>

<div class="">
  <div class="land">
    <div class="sw flex fl-center">
      <h1>login</h1>
    </div>
  </div>

  <section  id='sobre'>
    <div class='sw'>
      <h1>o anote</h1>
      <p>sobre o produto</p>
    </div>
  </section>

  <section id=''>
    <div class='sw sm-column md-row'>
      <img src="" alt="minhafoto">
      <div class="">
      <h1>ramon</h1>
      <p>sobre min</p>
    </div>
    </div>
  </section>

  <section>
    <div class='sw'>
      <h1>contato</h1>
      <p>form de contato</p>
    </div>
  </section>
</div>
<%include ../partials/footer%>
