body,html {
padding: 0;
margin: 0;
font-family: 'Lato'
}

.azul-1{
background-color: #5b6e96;
}
.azul-2{
  background-color: #385aa3;
  color: #eee;
}
.azul-3{
  background-color: #28479c;
}
.azul-4{
  background-color: #263183;
}

body{
  font-size: 16px;
}

.land{
  background-image: url("../images/land.jpeg");
  background-size: cover;
  height: 60vw;
  max-height: 100vh;

}
.sw{
  padding: 10px;
  max-width: 800px;
  margin: auto;
}
section{
  padding: 15px 0;
  height: 300px;
}
section:nth-child(even){
  background-color: #5b6e96;
  color: #eee;
}

section:nth-child(odd){
  background-color: white;
}
footer{
  padding: 15px 0;
  height: 300px;
  background-color: #444;
  color: #bbb;
}
